@media (max-width:768px){

.stats{
flex-direction:column;
}

}

@media(max-width:900px){

.trust-grid{
grid-template-columns:1fr;
}

.support-card{
left:20px;
bottom:-20px;
}

}

@media(max-width:900px){

.process-grid{
grid-template-columns:1fr;
gap:50px;
}

.process-line{
display:none;
}

}

@media(max-width:900px){

.testimonials-grid{
grid-template-columns:1fr;
gap:30px;
}

}

@media(max-width:900px){

.story-grid{
grid-template-columns:1fr;
gap:50px;
}

.story-founders{
justify-content:center;
}

}